<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de usuario</title>
    {% load static %}
    <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css " integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--link del estilo -->
    <link rel="stylesheet" href="{% static 'AppPeluditos/css/estilos.css' %}">
</head>
<body>
    {% load crispy_forms_tags %}
    <div class="container">
        <br>
        <br>
        <br>

        <div class="row">
                <div class= "col-12 col-md-6 offset-md-3">

                    <div class="card hola1">
                        <div class="card-body">
                        <h2> Ingresa tus credenciales</h2>
                        <hr>
                        <form action="" method="post">

                            {% csrf_token %}

                            {{ form | crispy}}
                            <a href="{% url 'Home' %}" class="btn btn-info btn-sm">Ir al home</a>
                            |
                            <a href="{% url 'reset_password' %}" class="btn btn-danger btn-sm">¿Olvidaste tu contraseña? </a>

                            
                            <input type="submit" value="Ingresar" class="btn btn-success float-right">
                        </form>

                        <a href="{% url 'social:begin' 'facebook' %}">Continuar con Facebook</a>
                        </div>
                    </div>

                </div>


        </div>


    </div>
    
<footer>
        <img class="logo-footer" src="{% static 'AppPeluditos/img/peluditosflooter.png' %}" alt="logo">
        <br>

        <img class="iconos-redes" src="{% static 'AppPeluditos/iconos/facebook-logo-button.svg' %}" alt="face">
        <img class="iconos-redes" src="{% static 'AppPeluditos/iconos/instagram-logo.svg' %}" alt="instagram">
        <img class="iconos-redes" src="{% static 'AppPeluditos/iconos/twitter-logo-button.svg' %}" alt="twitter">

        <p>Derechos reservados Fundación Peluditos® 2020</p>

</footer>

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>