<!doctype html>
<html lang="en">
  <head>

    {% load static %}
     <!--sweet alerts-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css " integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!--link del estilo -->
    <link rel="stylesheet" href="{% static 'AppPeluditos/css/estilos.css' %}">
    <title>Fundación Peluditos</title>

    {% load pwa %}

    {% progressive_web_app_meta %}
  </head>
  <body>
      
    <!--nav bar de bootstrap :)-->

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top sps sps--abv">
        <div class="container">
        <a class="navbar-brand" href="{% url 'Home' %}">
            <img class="logo" src="{% static 'AppPeluditos/img/peluditosazul.png' %}" alt="logo">
        </a>
           
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Somos' %}" >¿Quienes somos?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Hacemos' %}" >¿Que hacemos?</a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ¿Como ayudar?
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!--<a class="dropdown-item" href="#">Adopta</a> -->
                <a class="dropdown-item" href="{% url 'Tienda' %}">Tienda!</a>
                <a class="dropdown-item" href="#">Haz tu donación!</a>
              </div>
            </li>
            <!-- AGREGAR DESPUES
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Adopta!
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">La importancia de adoptar</a>
                  <a class="dropdown-item" href="#">10 razones de por qué adoptar</a>
                  <a class="dropdown-item" href="#">Peluditos en adopción</a>
                </div>
              </li>
              -->

              <li class="nav-item">
                <a class="nav-link" href="{% url 'Contacto' %}">Contacto</a>
              </li>

              <li>
                  <img class="iconos-redes" src="{% static 'AppPeluditos/iconos/facebook-logo-button.svg' %}" alt="face">
                  <img class="iconos-redes" src="{% static 'AppPeluditos/iconos/instagram-logo.svg' %}" alt="instagram">
                  <img class="iconos-redes" src="{% static 'AppPeluditos/iconos/twitter-logo-button.svg' %}" alt="twitter">
              </li>
              <hr>


              <hr>
              {% if user.is_authenticated %}
              <li>
                <a href="{%url 'logout' %}" style="padding-right: 10px; color:#000000;">Cerrar sesion</a>

              </li>
              |
              <li>
                  <a href="#" style="padding-left: 10px; color:#000000">@{{user.username}}</a>
              </li>
              {% else %}
              <li>
                  <a href="{% url 'login' %}" style="padding-right: 10px; color:#000000">Iniciar sesión</style></a>
                  
              |     
              </li>
              
              <li>
                
                <a href="{% url 'Registro' %}" style="padding-left: 10px;  color:#000000;" class="sesion">Registrate!</a>
              </li>
            {% endif %}
           
          </ul>
          </div>
         </div> <!--fin del container-->
    </nav>

    <!--carrusel-->
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class= "patitas" src="{% static 'AppPeluditos/img/img1.png' %}" class="d-block w-100" alt="perrito">
            <div class="carousel-caption d-none d-md-block">
              
            </div>
          </div>
          <div class="carousel-item">
            <img class= "patitas" src="{% static 'AppPeluditos/img/img3.png' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              
            </div>
          </div>
          <div class="carousel-item">
            <img class= "patitas" src="{% static 'AppPeluditos/img/img2.png' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>        
    
    <main>
        <section>
            <div class="container">
              <hr>
                <h4>Los peluditos de la semana!!</h4>
               
                
                <div class="row">
                    <div class="col-12 col-sm-4 text-center">
                        <img class = "miku shadow-lg" src="{% static 'AppPeluditos/img/miku.jpeg' %}" alt="miku">
                        <h5>Miku</h5>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, reprehenderit.</p>
                    </div>

                    <div class="col-12 col-sm-4 text-center">
                        <img class = "nara shadow-lg" src="{% static 'AppPeluditos/img/featuredImage-11146-por-que-los-bebes-y-los-cachorros-de-perro-son-tan-adorables-segun-la-ciencia-992x558@LaVanguardia-Web.jpg' %}" alt="miku">
                        <h5>Patitas</h5>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, reprehenderit.</p>
                    </div>

                    <div class="col-12 col-sm-4 text-center">
                        <img class = "perro shadow-lg" src="{% static 'AppPeluditos/img/estrenimiento-gato-bebe2-xl-668x400x80xX.jpg' %}" alt="miku">
                        <h5>Titi</h5>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, reprehenderit.</p>
                    </div>
                    

                
            
                 
                </div>
                <hr>
            </div>   
        </section>

        <!--Operativo-->

        <section>
            <div class="container">
                <h4>Operativos!</h4>
               
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <img class = "este" src="{% static 'AppPeluditos/img/este.jpg' %}" alt="este">



                    </div>
                    <div class="col-12 col-sm-6">
                        
                        <p>Estas jornadas son muy importantes para nosotros, ya que es el día que se limpian los caniles, se pasea y regalonea a todos los animalitos del refugio (fundamental para su socialización y para sacar el estrés) y se avanza en tareas de reparación de infraestructura. Es una hermosa experiencia de solidaridad.

                          ¡Ayúdanos a entregar una mejor calidad de vida a todos los perritos del refugio mientras esperan su adopción y ser parte de una familia!</p>
                    </div>  

                </div>
                <hr>
            </div>



        </section>

        
        {% if messages %}
          {% for m in messages %}
          <script>
            Swal.fire({
                "title": "Felicitaciones",
                "text": "{{m}}",
                "icon":"success"
            })
          </script>
          {% endfor %}
        {% endif %}  

    </main>


    <footer>
                <img class="logo-footer" src="{% static 'AppPeluditos/img/peluditosflooter.png' %}" alt="logo">
                <br>

                <img class="iconos-redes" src="{% static 'AppPeluditos/iconos/facebook-logo-button.svg' %}" alt="face">
                <img class="iconos-redes" src="{% static 'AppPeluditos/iconos/instagram-logo.svg' %}" alt="instagram">
                <img class="iconos-redes" src="{% static 'AppPeluditos/iconos/twitter-logo-button.svg' %}" alt="twitter">

                <p>Derechos reservados Fundación Peluditos® 2020</p>

    </footer>

    



 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  

    
  <!--menu scroll peluditos-->
    <script src="{% static 'AppPeluditos/js/js_scrollPosStyler.min.js' %}"></script>

</body>
</html>
