<!doctype html>
<html lang="en">
  <head>

    {% load static %}
     <!--sweet alerts-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css " integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!--link del estilo -->
    <link rel="stylesheet" href="{% static 'AppPeluditos/css/estilos.css' %}">
    <title>Fundación Peluditos</title>
  </head>
  <body>
      
    <!--nav bar de bootstrap :)-->

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top sps sps--abv">
        <div class="container">
        <a class="navbar-brand" href="{% url 'Home' %}">
            <img class="logo" src="{% static 'AppPeluditos/img/peluditosazul.png' %}" alt="logo">
        </a>
           
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Somos' %}" >¿Quienes somos?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Hacemos' %}" target="_blank">¿Que hacemos?</a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ¿Como ayudar?
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Adopta</a>
                <a class="dropdown-item" href="{% url 'Tienda' %}">Tienda</a>
                <a class="dropdown-item" href="#">Haz tu donación</a>
              </div>
            </li>
            <!-- AGREGAR DESPUES
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Adopta!
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">La importancia de adoptar</a>
                  <a class="dropdown-item" href="#">10 razones de por qué adoptar</a>
                  <a class="dropdown-item" href="#">Peluditos en adopción</a>
                </div>
              </li>
              -->

              <li class="nav-item">
                <a class="nav-link" href="{% url 'Contacto' %}" target="_blank">Contacto</a>
              </li>

              <li>
                  <img class="iconos-redes" src="{% static 'AppPeluditos/iconos/facebook-logo-button.svg' %}" alt="face">
                  <img class="iconos-redes" src="{% static 'AppPeluditos/iconos/instagram-logo.svg' %}" alt="instagram">
                  <img class="iconos-redes" src="{% static 'AppPeluditos/iconos/twitter-logo-button.svg' %}" alt="twitter">
              </li>
              {% if user.is_authenticated %}
              <li>
                <a href="{%url 'logout' %}" style="padding-right: 10px; color:#000000;">Cerrar sesion</a>

              </li>
              |
              <li>
                  <a href="#" style="padding-left: 10px; color:#000000">@{{user.username}}</a>
              </li>
              {% else %}
              <li>
                  <a href="{% url 'login' %}" style="padding-right: 8px; color:#000000" >Iniciar sesion</style></a>
                  
              |     
              </li>
              
              <li>
                
                <a href="{% url 'Registro' %}" style="padding-left: 10px; color:#000000;">Registrate!</a>
              </li>
            {% endif %}
           
          </ul>
          </div>
         </div> <!--fin del container-->
    </nav>
    <main>
      {% load crispy_forms_tags %}

                <h2 class="agregar">Editar producto</h2>
                <div class="roww">
                    <div class="col-12 col md-6 offset-md-3">
                        <div class="card">
                            <div class="card-body">

                         <form action="" method="post" enctype="multipart/form-data">

                            {% csrf_token %}
                            {{ form | crispy }}

                            <div class="d-flex justify-content-end">
                                <input type="reset" value="Cancelar" class="btn btn-secondary">
                                &nbsp;
                                <input type="submit" value="Guardar" class="btn btn-primary">   
                            </div>
                            
                            


                         </form>
                            {% if messages %}
                            {% for m in messages %}
                            <script>
                                Swal.fire({
                                    "title": "Felicitaciones",
                                    "text": "{{m}}",
                                    "icon":"success"
                                })
                            </script>
                            {% endfor %}
                            {% endif %}  

                         
                             </div>
                        </div>

                    </div>
                </div> 


    </main>
    

    <footer>
        <img class="logo-footer" src="{% static 'AppPeluditos/img/peluditosflooter.png' %}" alt="logo">
        <br>

        <img class="iconos-redes" src="{% static 'AppPeluditos/iconos/facebook-logo-button.svg' %}" alt="face">
        <img class="iconos-redes" src="{% static 'AppPeluditos/iconos/instagram-logo.svg' %}" alt="instagram">
        <img class="iconos-redes" src="{% static 'AppPeluditos/iconos/twitter-logo-button.svg' %}" alt="twitter">

        <p>Derechos reservados Fundación Peluditos® 2020</p>

</footer>






<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


<!--menu scroll peluditos-->
<script src="{% static 'AppPeluditos/js/js_scrollPosStyler.min.js' %}"></script>

</body>
</html>