.logo{

    width: 175px;
    padding:  10px 0;
}




.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
}


.iconos-redes{

    width: 20px;
    margin: 10px 5px;
}

.patitas{

    width: 1300px;
    height: 600px;
    display:block;
    margin:auto; 
    padding-top: 17px;
}

.patitassomos{

    width: 500px;
    height: 300px;
    display:block;
    margin:auto;        
}

h4{
    padding: 50px 0;

    text-align: center;
    color: #00bfb3;
    
}

.miku{

    width: 150px;
}

.nara{

    width: 175px;
    height: 210px;
}

.perro{
    width: 175px;
    height: 210px;

}

.sps--abv{
    background-color:transparent;
    color: #fff;
    
    
}

.sps--blw{
    background-color:#00bfb3;
    color: #fff;

}

.sps--abb{
    background-color:#00bfb3;
    color: #fff;
    
    
}







footer{
    background-color:#00bfb3;
    padding: 100px 0;
    text-align: center;
}

footer .logo-footer{
    width: 150px;
    margin-bottom: 20px;

}

footer p{
    
    font-family: Arial, Helvetica, sans-serif;
    color: white;


}


.este{
    
    width: 500px;
    padding: 30px;
    padding-top: 10px;
}


h2{
    
    text-align: center;
    color: #00bfb3;
    
}

.contenedor2{
    width: 100%;
    max-width: 1000px;
    background: #fff;
    padding: 100px;
    margin: 100px auto;
    box-shadow: 0px 0px 1px 1px #00bfb3;
}

.contenedor2 h4{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0px;
    color: #00bfb3;
    margin-top: -100px;


}


.contenedor2 .texto1{
    text-align: left;
    margin-bottom: 25px;
}

/*pagina contacto*/

.alert{
    display: block;
    padding: 12px 20px;
    background: #f8d7da;
    color: #721c24;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
}



.contenedor{
    width: 80%;
    max-width: 1000px;
    background: #fff;
    padding: 100px;
    margin: 100px auto;
    box-shadow: 0px 0px 1px 1px #00bfb3;
}

.contenedor h1{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 70px;
    color: #00bfb3;
    margin-top: -40px;
}

.cato{
    width: 300px;
    padding: 30px;
    padding-top: 10px;
    position: absolute;
    top:  106px;
    right: 310px;
    
    

}

.contenido{
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}

.contenido .info,
.contenido .formulario{
    width: 50%;

}

/* estilos del info*/

.info{
    padding-left: 10px;
}

.info .col{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    font-size: 16px;
    align-items: center;
    flex-wrap: nowrap;
}

.info .col .icono{
    color: #00bfb3;
    margin-right: 10px;
}

.info .col p{
    color: #999;
}

.info .redes-s{
    width: 100%;
    overflow: hidden;
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap;
}
.info .redes-s a{
    display: flex;
    width: 40px;
    height: 40px;
    background: #00bfb3;
    color: #fff;
    margin: 5px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .4);
}
.info .redes-s a:hover{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .4);
    
}

/*estilos del formulario*/

.formulario{
    padding-left: 20px;
}

.formulario input[type='text'],
.formulario textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 20px;
    border: 1px solid #999;
    color: #999;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    outline: 0;
}

.formulario textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 200px;
}

.formulario input[type='text']:focus,
.formulario textarea:focus{
    border: 1px solid #15CF8A;
}

.formulario button{
    padding: 12px 30px;
    border: transparent;
    background: #00bfb3;
    color: #fff;
    cursor: pointer;
    float: right;
}

.Contenedor_producto img{
    width: 150px;
    

}

.Producto{
    padding-top: 10px;
    padding-bottom: 100px;

}

.tituloP{
    padding-top: 100px;
    padding-bottom: 50px;

}

.card{
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
}

.roww{
    padding-top: 50px;
    width: 1000px;
    padding-left: 125px;
    padding-bottom: 150px;
    
}

.agregar{
    padding-top: 150px;
    text-align: center;
}

.registrate{
    padding-top: 150px;
}



.botonagregar{
    
    text-align: center;
    
    margin-left: 700px;
    margin-bottom: auto;

}

.btneliminar{
    margin-right: 5px;
    margin-bottom: 5px;
}

.btnmodificar{
    margin-right: 5px;
    margin-bottom: 5px;

}

.textopeluditos{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 5px;
}

.iniciar{
    padding-top: 100px;
    color:black;
    
}


.imagen{
    width: 250px;
    height: 200px;
    display:block;
    margin:auto;
}

.card1{
    margin-left: 20px;
    margin-right: 100px;
    margin-top: 10px;
}

.hola1{
   margin-bottom: 100px;
}

.hola2{
    margin-top: 25px;
    margin-bottom: 25px;
}

.buton{
    color: #00bfb3;
}